.main {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 950px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .main {
        padding: 50px;
    }
}