.song {
    position: relative;
    border-radius: 10px;
    z-index: 1;
}

.song::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.363);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.song img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.songFooter {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
}

.songFooter h3 {
    margin: 0;
    font-weight: 600;
    color: #bbb;
}

.songFooter p {
    margin: 0;
    line-height: 18px;
    color: #999;
}

.songPlayBtn {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    background-color: #14df14;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songPlayBtn i {
    margin-left: 3px;
}

.songPlayBtn.first {
    margin: 0 10px 10px 10px;
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    background-color: #14df14;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px) {
    .songPlayBtn.first {
        height: 35px;
        width: 35px;
        font-size: 16px;
    }
}