.header {
    padding: 0 100px;
    text-align: center;
}

.header h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.header .searchForm {
    border: 1px solid grey;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.header .searchForm input {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    border: none;
    font-size: 17PX;
}

.header .searchForm button {
    height: 40px;
    width: 100px;
    border: none;
    border-left: 1px solid grey;
    font-size: 17px;
    background-color: rgb(38, 92, 209);
    color: #fff;
}

.header .searchForm button a {
    color: #fff;
}

.header .searchForm input:focus,
.header .searchForm button:focus {
    outline: none;
}

@media (max-width: 550px) {
    .header {
        padding: 0 50px;
    }

    .header .searchForm {
        width: 250px;
    }

    .header .searchForm input {
        width: 180px;
    }

    .header .searchForm button  {
        width: 70px;
    }
}

@media (max-width: 350px) {

    .header .searchForm {
        width: 200px;
    }

    .header .searchForm input {
        width: 135px;
    }

    .header .searchForm button  {
        width: 65px;
    }
}